VITE_API_URL=https://qreekfinance-production.up.railway.app/api/v1
VITE_WS_URL=wss://qreekfinance-production.up.railway.app

We need a standard check for phone number to ensure that the phone number the user submitted is correct and it would no longer be limited to Nigeria. So the appearance on the signup and the login forms should not just have the +234 inscription. It should be oone that accomodates any number from any country. Then we check within our database to ensure the number hasn't been registered before.
No, when a tab is clicked, the entire page does not need to load. This is not a great flow. If there should be any loading, the sidebar should not load with the rest of the page. Though connected to the backend, i don't want the page to be loading all the time. I need great UI experience here.

In the description tab in creating payment link, if the user keeps typing and gets to the end of the page, let the box enlarge going down and not allow the typing to control horizontally. At each point of typing, the user should be seeing what he/she is typing.
Our engine checks for pools created by users and does not allow them join them again, if they click to join pool